.vcard_txt {
  width: 172px;
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f8f6f7 !important;
  line-height: 16px !important;
}
.reach_txt {
  position: relative;
  top: -103px;
}
.reachusTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1e1e;
  font-size: 18px;
  width: 300px;
  float: left;
  margin: 0px 0px 10px 30px;
}
.reach_icon {
  position: relative;
  z-index: 999;
  left: -80px;
  width: 108px;
}
.form-button {
  width: 152px;
  height: 42px;
  float: left;
}
.Personal-input {
  background-color: #f8f6f7;
  border: 2px solid #5dad22;
  color: #696969;
  font-family: "Open Sans";
  font-size: 12px;
  padding: 8px 5px;
  width: 292px;
}
.contactForm_td1 {
  float: left;
  width: 70px;
  font-size: 15px;
  color: #696969;
  font-weight: normal;
  margin-top: 7px;
  line-height: normal !important;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.contactForm_td2 {
  float: left;
  width: 200px;
  margin-bottom: 0px;
}
.App42PaaS_header_wrapper {
  float: left;
  height: 94px;
  margin-top: -20px;
  width: 100%;
  min-width: 1024px;
  background-image: url('/images/navigation_bar_bg.png');
  background-repeat: repeat-x;
}
.table-head {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border: 1px solid #666;
  padding: 5px;
  font-weight: bold;
}
.massage-textFild {
  background-color: #f8f6f7;
  border: 2px solid #5dad22;
  color: #696969;
  font-family: "Open Sans";
  font-size: 12px;
  padding: 8px 5px;
  width: 292px;
}
.App42PaaS_body {
  width: 1024px;
  margin: 20px auto;
}
td {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border: 1px solid #666;
  padding: 2px 2px 2px 5px;
}
table {
  width: 960px;
}
.reachuslable {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  width: 130px;
  float: left;
  margin: 0px 20px 6px 30px;
}
.reachus_wrapper {
  float: right;
  background-color: #4b9825;
  border: 3px solid #352b1f;
  padding: 15px;
  width: 367px;
  height: 135px;
  margin-top: 30px;
}
.contactForm_tdMiddle {
  float: left;
  width: 20px;
  font-size: 15px;
  color: #696969;
  font-weight: normal;
  margin-top: 7px;
  line-height: normal !important;
}
.contactPage_title {
  width: 964px;
  float: left;
  padding: 30px;
  font-size: 26px;
  color: #696969;
  font-family: "Myriad Pro";
  font-weight: normal;
  line-height: 22px;
}
.App42PaaS_header {
  width: 1004px;
  float: left;
  padding: 0px 10px;
}
.massage-box {
  margin-left: 90px;
  margin-top: 5px;
}
.App42PaaS_header_inner.App42PaaS_header.logo {
  float: left;
  margin: 4px 20px 0px 0px;
}
.form_wrapper {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #696969;
  line-height: 22px;
  float: left;
  width: 480px;
  min-height: 250px;
  margin: 20px 0px 0px;
  padding: 0px 0px 0px 30px;
}
.App42PaaS_body_inner {
  width: 1024px;
  float: left;
  padding: 0px;
  background-color: #d7e8ec;
  margin-top: 20px;
}
.App42PaaS_header_inner {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.reachusLink {
  font-family: Arial, Helvetica, sans-serif;
  color: #f9cd00;
  font-size: 15px;
  width: 180px;
  float: left;
  margin: 0px 0px 6px;
}
.contactForm_tr {
  float: left;
  margin-bottom: 10px;
  margin-top: 5px;
}
.reachus_wrapper_vcard {
  float: right;
  width: 297px;
  height: 154px;
  margin-top: 60px;
  background: url('/images/shephertz_card_bg.png') no-repeat scroll 0% 0% transparent;
  padding: 14px;
}
fieldset {
  border: 1px solid #676767;
  margin-bottom: 15px;
}
